{{#if products}}
    <h1>Productos</h1>
    {{#each products}}
        <h2>{{this.title}}</h2>
        <p><b>Descripción:</b> {{this.description}}</p>
        <p><b>Precio: $</b>{{this.price}}</p>
        <p><b>Código:</b> {{this.code}}</p>
        <p><b>Stock:</b> {{this.stock}}</p>
    {{/each}}
{{else}}
    <strong>Nos robaron todo!!</strong>
{{/if}}